*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin-top: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: grey;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
}


.banks-list,
.search-form,
.realty-form {
  display: flex;
  flex-direction: column;
}
/* 
filter: grayscale(.9) brightness(1.5); */

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
}
h1,
h2 {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.rate > h1, .loan > h1, .payment > h1 {
  color: black;
  display: flex;
  align-items: center;
}
.rate > h2, .loan > h2, .payment > h2 {
width: 60px;
}
.search-component {
  padding: 15px 0;
  padding-left: 30px;
  width: 250px;
  height: auto;
  border: 1px solid rgb(235, 231, 231);
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(56, 69, 117, 0.25);
  border-radius: 6px;
  height: fit-content;
  margin-left: 30px;
  margin-right: 30px;
}
.card-container {
  display: flex;
  width: 350px;
  height: auto;
  flex-direction: column;
}
.card:nth-child(2n) {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pg-container {
  width: 700px;
  margin: 20px 50px;
  display: flex;
  flex-direction: row;
}

.card {
  border: 1px solid rgb(235, 231, 231);
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(56, 69, 117, 0.25);
  border-radius: 6px;
  width: 350px;
  height: 220px;
  border-radius: 4px;
  padding: 20px;
}

.rate,
.loan,
.payment {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  height: 20px;
}

div.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
  height: 30px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.b-name {
  display: flex;
  flex-direction: column;
}
.b-name > h1 {
  font-weight: 700!important;
}
.b-name > h2 {
  font-weight: 500!important;
  font-size: 12px;
}

.dropbtn svg {
  color: grey;
  border: 1px solid grey;
  padding: 2px;
  border-radius: 20px;
  margin-top: 10px;
}

.more {
  margin-top: 10px;
}
.dropbtn > button {
  display: flex;
  width: 350px;
  justify-content: flex-end;
  border: none;
  text-decoration: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

.dropdown-content.show {
  display: block;
  flex-direction: column;
  padding: 7px;
}
